<div class="app-container">
    <h2>Daily closet</h2>
    <p>管理メニュー画面</p>

    <div class="button-group">
        <a href="#" class="btn-admin">アイテム一覧</a>
        <a href="{% url 'inventory_manage' %}" class="btn-menu">在庫管理</a>
        <a href="#" class="btn-admin-logout">ログアウト</a>
    </div>
</div>

<style>
    
    .btn-admin {
        display: block;
        width: 80%;
        margin: 10px auto;
        padding: 15px;
        background-color: #f0f0f0; 
        border: 1px solid #ccc;
        border-radius: 10px;
        text-decoration: none;
        color: #333;
    }
    .btn-admin-logout {
        display: block;
        width: 80%;
        margin: 30px auto;
        padding: 15px;
        background-color: #a0c4ff;
        color: white;
        border-radius: 10px;
        text-decoration: none;
    }
</style>
