{% extends 'closet/base.html' %}
{% load static %}

{% block title %}Daily closet{% endblock %}

{% block extra_css %}
<style>
    /* 画像をスマホサイズ(375px)の枠内に完全に収める */
    .main-visual img {
        width: 100% !important;
        height: auto !important;
        display: block;
    }
    
    .welcome-msg {
        text-align: center; 
        margin: 15px 0;
        font-size: 14px;
        color: #333;
    }
</style>
{% endblock %}

{% block content %}
    <h1 style="text-align: center; margin-top: 20px; font-weight: bold;">Daily closet</h1>
    
    <div class="welcome-msg">
        ようこそ、{{ request.user.username }} さん
    </div>

    <div class="main-visual">
        <img src="{% static 'images/main_visual.jpg' %}" alt="メイン画像">
    </div>

    {% endblock %}


{% block bottom_nav %}
    {{ block.super }}
{% endblock %}